<h2>Създай задача</h2>
<form method="post">
    <input name="Name" placeholder="Име на задачата" /><br />
    <input name="Description" placeholder="Описание" /><br />
    <input name="Deadline" type="datetime-local" /><br />
    <input name="Budget" placeholder="Бюджет" /><br />
    <input name="Category" placeholder="Категория" /><br />
    <button type="submit">Създай</button>
</form>