
<form method="post">
    <input name="Username" placeholder="Username" /><br />
    <input name="Password" placeholder="Password" /><br />
    <input name="FirstName" placeholder="First Name" /><br />
    <input name="LastName" placeholder="Last Name" /><br />
    <button type="submit">Register</button>
</form>